body {
    font-family: Arial, sans-serif;
    background-color: #b5eef7;
    color: #faf7f7;
  }
  
  item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #7fc5ae;
    display: block;
  }
  
  title {
    font-size: 1.2em;
    font-weight: bold;
    color: #d56cc1;
  }
  
  description {
    margin-top: 10px;
  }
  
  link {
    color: #7045c1;
  }
  